@charset "utf-8";
@import url('default.css');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;900&display=swap');
@font-face {
  font-family: 'Giants-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
@keyframes coolTime {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes opening {
  0% {
    top: 700px;
  }
  100% {
    top: 50px;
  }
}
@keyframes openingBtn {
  0% {
    width: 0;
  }
  100% {
    width: 292px;
  }
}
@keyframes purposeOp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes clearImg {
  0% {
    width: 0;
  }
  100% {
    widht: 100%;
  }
}
@keyframes clearBg {
  0% {
    height: 0;
  }
  100% {
    height: 607px;
  }
}
body {
  background: #333;
  width: 100vw;
  height: 100vh;
}
#main_section {
  width: 910px;
  height: 707px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
header {
  width: 910px;
  height: 100px;
  background: rgba(21, 21, 21, 0.5);
  border-radius: 50px 50px 0 0;
  box-shadow: 0 -2px 5px 0 #565656 inset;
}
header h1 {
  text-align: center;
  line-height: 100px;
  color: #c0c0c0;
  text-shadow: 2px 2px 1px #575757;
  font-size: 3.5rem;
  letter-spacing: 2rem;
  font-family: 'Handjet', cursive;
}
header .explainBtn {
  width: 32px;
  height: 32px;
  font-size: 1.3rem;
  cursor: pointer;
  color: #cacaca;
  background: #333;
  box-shadow: 1px 1px 3px 0 #434343 inset, -1px -1px 2px 0 #757575 inset;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 20px;
}
#bg {
  width: 910px;
  height: 607px;
  background: url('../img/caveBg.jpg');
  position: relative;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
#bg img {
  position: absolute;
  left: 20px;
  animation: opening 1s both;
}
#bg .start {
  width: 292px;
  height: 94px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: transparent;
  border: none;
  background-image: url(../img/startButton.png);
  cursor: pointer;
  animation: openingBtn 1s both;
}
#bg .explain {
  width: 910px;
  height: 607px;
  box-sizing: border-box;
  background: rgba(21, 21, 21, 0.8);
  color: #cccccc;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
  padding: 30px;
  display: none;
}
#bg .explain li h2 {
  font-size: 1.3rem;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
#bg .explain li ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  font-size: 1.2rem;
}
#bg .explain li ul .red {
  color: #f30;
  font-size: 1.3rem;
}
#clearBg {
  width: 910px;
  height: 607px;
  position: absolute;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
  background: url('../img/caveBg.jpg');
  box-shadow: 20px 30px 30px 0 #515151 inset, -10px -20px 20px 0 #585858 inset;
  display: none;
}
#clearBg img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  animation: clearImg 0.4s linear both;
  display: none;
}
#clearBg p {
  width: 100%;
  font-size: 6rem;
  letter-spacing: 1rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-weight: 700;
  font-family: 'Handjet', cursive;
}
#inGame {
  width: 910px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px 50px 0 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  display: none;
}
#inGame .arrowsKey {
  width: 88px;
  height: 60px;
  background: url('../img/arrow.png');
}
#inGame .spaceKey {
  width: 50px;
  height: 40px;
  background: url('../img/space.png') no-repeat left center;
  padding-left: 106px;
}
#inGame .atk {
  width: 40px;
  height: 40px;
  background: url('../img/att.png') no-repeat center center #ededed;
}
#inGame .zKey {
  width: 175px;
  height: 40px;
  background: url('../img/zKey.png') no-repeat left center;
  padding-left: 54px;
}
#inGame .skill {
  border-radius: 40px;
  box-shadow: 2px 2px 1px 0 #a9a9a9 inset;
  overflow: hidden;
}
#inGame .skill1 {
  width: 120px;
  height: 40px;
  background: #ededed;
  padding: 0 10px;
  display: flex;
}
#inGame .skill1 span {
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/skill1.png') no-repeat center center;
}
#inGame .xKey {
  width: 40px;
  height: 40px;
  background: url('../img/xKey.png') no-repeat left center;
  padding-left: 54px;
}
#inGame .xKey .skill2 div {
  width: 40px;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  display: none;
}
#inGame .xKey .coolBg {
  animation: coolTime 5s linear reverse;
}
#inGame .xKey .boostBg {
  animation: coolTime 4s linear;
}
#inGame .skill2 {
  width: 40px;
  height: 40px;
  background: url('../img/skill2.png') no-repeat left 1px bottom 1px #ededed;
}
canvas {
  display: none;
  border-radius: 0 0 50px 50px;
}
#purpose {
  width: 100%;
  padding-left: 20px;
  font-family: 'Giants-Bold';
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  color: #fff;
  position: absolute;
  left: 0;
  top: 180px;
  opacity: 0;
  animation: purposeOp 3s both;
  display: none;
}
#reset {
  width: 80px;
  height: 88px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../img/reset.png);
  cursor: pointer;
  display: none;
}
